mkdocs==1.4.3
mkdocs-material==9.1.12
pymdown-extensions==10.0
pygments==2.14.0
mkdocs-minify-plugin==0.3.0
prependnewline==1.2
mkdocs-meta-descriptions-plugin==1.0.2
markdown==3.3.4
importlib_metadata==4.13.0