mkdocs==1.5.2
mkdocs-material==9.1.21
pymdown-extensions==10.1
pygments==2.16.1
mkdocs-minify-plugin==0.3.0
prependnewline==1.2
mkdocs-meta-descriptions-plugin==1.0.2
markdown==3.3.4
importlib_metadata==4.13.0